$fontMont: 'Montserrat', sans-serif;
$fontRob: 'Roboto', sans-serif;

$primaryFont: rgb(255, 255, 255);
$secondaryFont: rgb(68,68,68);
$thirdyFont: rgb(255, 78, 80);
$fourthyFont: rgba(102, 102, 102, 1);
$fifthyFont: rgba(153, 153, 153, 1);

$primaryBckGrnd: rgb(255, 78, 80);
$secondaryBckGrnd: rgba(25, 212, 202, 1);
$thirdyBckGrnd: rgba(255, 167, 16, 1);
$fourthyBckGrnd: rgba(102, 125, 243, 1);

$primaryBorder: rgb(255, 255, 255);
$secondaryBorder: rgb(255, 78, 80);
$thirdyBorder: rgb(68,68,68);


$media-xl: 1439px;
$media-sm: 767px;

